body{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}
#root, .app{
    height: 100%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.controls{
    align-items: center;
}
.app{
    justify-content: space-between;
}
header{
    /*border: 1px solid green;*/
}
main{
    /*border: 1px solid blue;*/
    padding: 30px;
    overflow-y: scroll;
}
footer{
    /*border: 1px solid green;*/
}

.hide{
    display: none;
}

/******************************
******************************/

input{
    width: 50%;
    margin-bottom: 10px;
    min-height: 40px;
    border-radius: 3px;
    text-align: center;
    background: 0;
    border: 1px dashed #333;
}

.stats{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
